

- Apesar do agro gerar muito lucro, a vida dos agricultores não é fácil, mas sim um verdadeiro teste de resistência e determinação. Uma vez que tenhamos semeado as sementes, o agricultor precisa trabalhar dia e noite para garantir uma boa safra no final da estação. Uma boa colheita depende de diversos fatores, como disponibilidade de água, fertilidade do solo, proteção das culturas, uso oportuno de pesticidas, outros fatores químicos úteis e da natureza.

- Muitos desses dados são quase impossíveis de se controlar, mas a quantidade e a frequência de pesticidas é algo que o agricultor pode administrar. Os pesticidas podem protegem a colheita com a dosagem certa. Mas, se adicionados em quantidade inadequada, podem prejudicar toda a safra.

- Dito isto, abaixo são fornecidos dados baseados em culturas colhidas por vários agricultores no final da safra de 2018-2019. Para simplificar o problema, você pode assumir que todos os fatores relacionados as técnicas agrícolas e climáticas, não influenciaram esses resultados.

- Seu objetivo neste exercício é determinar o resultado desta safra atual de 2020, ou seja, se a colheita será saudável, prejudicada por pesticidas, ou prejudicada por outros motivos.

In [28]:
import pandas as pd

In [193]:
# Abrir dados da safra de 2018 e 2019
safra = pd.read_csv('Safra_2018-2019.csv', header = 0)

In [194]:
# Visualização das 5 primeiras linas dos dados
safra.head()

,Unnamed: 0,Identificador_Agricultor,Estimativa_de_Insetos,Tipo_de_Cultivo,Tipo_de_Solo,Categoria_Pesticida,Doses_Semana,Semanas_Utilizando,Semanas_Sem_Uso,Temporada,dano_na_plantacao
0,0,SCROP00001,188,1,0,1,0,0.0,0,1,0
1,1,SCROP00002,209,1,0,1,0,0.0,0,2,1
2,2,SCROP00003,257,1,0,1,0,0.0,0,2,1
3,3,SCROP00004,257,1,1,1,0,0.0,0,2,1
4,4,SCROP00005,342,1,0,1,0,0.0,0,2,1

## Conhecer a base de dados:

In [32]:
safra.drop('Unnamed: 0', inplace=True, axis=1)  # Excluir a primeira coluna que são os indexadores (Unnamed: 0)
safra.head()

,Identificador_Agricultor,Estimativa_de_Insetos,Tipo_de_Cultivo,Tipo_de_Solo,Categoria_Pesticida,Doses_Semana,Semanas_Utilizando,Semanas_Sem_Uso,Temporada,dano_na_plantacao
0,SCROP00001,188,1,0,1,0,0.0,0,1,0
1,SCROP00002,209,1,0,1,0,0.0,0,2,1
2,SCROP00003,257,1,0,1,0,0.0,0,2,1
3,SCROP00004,257,1,1,1,0,0.0,0,2,1
4,SCROP00005,342,1,0,1,0,0.0,0,2,1

In [195]:
safra.describe() # Descrição dos dados

,Unnamed: 0,Estimativa_de_Insetos,Tipo_de_Cultivo,Tipo_de_Solo,Categoria_Pesticida,Doses_Semana,Semanas_Utilizando,Semanas_Sem_Uso,Temporada,dano_na_plantacao
count,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,71945.000000,80000.000000,80000.000000,80000.000000
mean,39999.500000,1400.020875,0.283338,0.455550,2.267587,25.846750,28.664480,9.549088,1.897575,0.192312
std,23094.155105,849.792471,0.450622,0.498023,0.463748,15.557246,12.424751,9.905547,0.702079,0.455912
min,0.000000,150.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,19999.750000,731.000000,0.000000,0.000000,2.000000,15.000000,20.000000,0.000000,1.000000,0.000000
50%,39999.500000,1212.000000,0.000000,0.000000,2.000000,20.000000,28.000000,7.000000,2.000000,0.000000
75%,59999.250000,1898.000000,1.000000,1.000000,3.000000,40.000000,37.000000,16.000000,2.000000,0.000000
max,79999.000000,4097.000000,1.000000,1.000000,3.000000,95.000000,67.000000,50.000000,3.000000,2.000000

In [34]:
safra.corr(method='pearson') # Análise das correlações entre os dados

,Estimativa_de_Insetos,Tipo_de_Cultivo,Tipo_de_Solo,Categoria_Pesticida,Doses_Semana,Semanas_Utilizando,Semanas_Sem_Uso,Temporada,dano_na_plantacao
Estimativa_de_Insetos,1.000000,-0.090063,-0.056147,-0.080734,-0.101807,0.435935,0.298849,0.002964,0.203290
Tipo_de_Cultivo,-0.090063,1.000000,-0.278775,0.238823,-0.190884,-0.045033,-0.235928,0.002792,-0.017228
Tipo_de_Solo,-0.056147,-0.278775,1.000000,0.035994,0.076580,-0.068448,0.006122,0.002066,-0.021176
Categoria_Pesticida,-0.080734,0.238823,0.035994,1.000000,-0.002913,0.343883,-0.556253,0.001175,0.172943
Doses_Semana,-0.101807,-0.190884,0.076580,-0.002913,1.000000,0.123933,-0.034144,-0.002251,-0.030476
Semanas_Utilizando,0.435935,-0.045033,-0.068448,0.343883,0.123933,1.000000,-0.447572,0.001971,0.233523
Semanas_Sem_Uso,0.298849,-0.235928,0.006122,-0.556253,-0.034144,-0.447572,1.000000,0.003220,-0.133115
Temporada,0.002964,0.002792,0.002066,0.001175,-0.002251,0.001971,0.003220,1.000000,-0.002233
dano_na_plantacao,0.203290,-0.017228,-0.021176,0.172943,-0.030476,0.233523,-0.133115,-0.002233,1.000000

#  Informações dos dados: 

Nenhuma das colunas têm uma alta correlação com os dados causados na plantação. As maiores correlações são com a estimativa de incetos e o número de semanas utilizando.

- Como foi passado, pode-se assumir que todos os fatores relacionados as técnicas agrícolas e climáticas, não influenciarão esses resultados, além disso a coluna de identificador do agricultor também não agrega informação relevante para a análise. Dessa maneira, pode-se excluir as colunas 'Identificador_Agricultor', 'Tipo_de_Cultivo' e 'Temporada'.

- Todas as colunas possuem 80 mil dados, com excessão da coluna 'Semanas_Utilizando', que possui 71.945 dados, dessa forma é necessário uma análise mais aprofundada sobre esses dados faltantes. 

- Dividir os dados em dados de entrada e de resultado.

- As colunas 'Tipo_de_Solo', 'Categoria_Pesticida' e 'dano_na_plantacao' são dados categóricos, apesar de possuir números em sua classificação, esses números representam tipos e categorias e não um valor escalar de vantagem de um tipo ou categoria em relação à outra. Reorganizar essas informações.

### 1º  Informações que não agregam para a análise.

In [35]:
# Excluir colunas 
safra.drop(['Identificador_Agricultor','Tipo_de_Cultivo', 'Temporada'], inplace=True, axis=1)
safra.head()

,Estimativa_de_Insetos,Tipo_de_Solo,Categoria_Pesticida,Doses_Semana,Semanas_Utilizando,Semanas_Sem_Uso,dano_na_plantacao
0,188,0,1,0,0.0,0,0
1,209,0,1,0,0.0,0,1
2,257,0,1,0,0.0,0,1
3,257,1,1,0,0.0,0,1
4,342,0,1,0,0.0,0,1

### 2º Dados ausentes.

In [36]:
# Pesquisa sobre dados únicos na coluna, afim de identificar a forma os dados os dados ausentes
safra['Semanas_Utilizando'].unique()

array([ 0., nan, 26., 20., 15., 14., 19., 24.,  8., 23., 25., 28., 29.,
       22., 21., 17., 30., 35., 32., 27., 16., 31., 33., 34., 39., 38.,
       42., 40., 41., 36., 44., 37., 46., 45., 47., 43., 50., 10., 49.,
       53., 48., 51., 54., 52., 55., 56., 61., 18., 57., 62., 60., 63.,
       66., 59., 64., 13.,  7.,  5., 12.,  6.,  9., 58., 11., 65., 67.])

In [37]:
safra.isnull().sum() # Identificar a quantidade de dados NaN

Estimativa_de_Insetos       0
Tipo_de_Solo                0
Categoria_Pesticida         0
Doses_Semana                0
Semanas_Utilizando       8055
Semanas_Sem_Uso             0
dano_na_plantacao           0
dtype: int64

In [38]:
71945 + 8055 # Todos os dados ausentes são os NaN

80000

In [39]:
safra.corr(method='pearson') # Identificar a correlação entre os dados

,Estimativa_de_Insetos,Tipo_de_Solo,Categoria_Pesticida,Doses_Semana,Semanas_Utilizando,Semanas_Sem_Uso,dano_na_plantacao
Estimativa_de_Insetos,1.000000,-0.056147,-0.080734,-0.101807,0.435935,0.298849,0.203290
Tipo_de_Solo,-0.056147,1.000000,0.035994,0.076580,-0.068448,0.006122,-0.021176
Categoria_Pesticida,-0.080734,0.035994,1.000000,-0.002913,0.343883,-0.556253,0.172943
Doses_Semana,-0.101807,0.076580,-0.002913,1.000000,0.123933,-0.034144,-0.030476
Semanas_Utilizando,0.435935,-0.068448,0.343883,0.123933,1.000000,-0.447572,0.233523
Semanas_Sem_Uso,0.298849,0.006122,-0.556253,-0.034144,-0.447572,1.000000,-0.133115
dano_na_plantacao,0.203290,-0.021176,0.172943,-0.030476,0.233523,-0.133115,1.000000

É possível identificar que todos os dados ausentes são NaN, além disso, é importante entender a qualidade desses dados para a análise, já que podemos substituir o valor desses NaN por algum outro valor (média por exemplo) ou podemos excluir esses dados da análise. A quantidade de dados ausentes é grende, maior que 10%, porém, a escolha é por excluir esses dados da análise. Tomei essa decisão com base nas correlações encontradas, já que as semanas utilizadas é a informação com a maior correlação com os danos nas plantações.

In [196]:
safra_18_19 = safra.dropna() # Excluir todas as linhas com NaN
safra_18_19.describe() # Descrição dos dados

,Unnamed: 0,Estimativa_de_Insetos,Tipo_de_Cultivo,Tipo_de_Solo,Categoria_Pesticida,Doses_Semana,Semanas_Utilizando,Semanas_Sem_Uso,Temporada,dano_na_plantacao
count,71945.000000,71945.000000,71945.000000,71945.000000,71945.000000,71945.000000,71945.000000,71945.000000,71945.000000,71945.000000
mean,40012.997206,1401.865230,0.282716,0.456599,2.268316,25.845159,28.664480,9.548878,1.896782,0.192049
std,23114.477861,851.165277,0.450323,0.498116,0.463778,15.548993,12.424751,9.910483,0.702210,0.455172
min,0.000000,150.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,19968.000000,731.000000,0.000000,0.000000,2.000000,15.000000,20.000000,0.000000,1.000000,0.000000
50%,40021.000000,1212.000000,0.000000,0.000000,2.000000,20.000000,28.000000,7.000000,2.000000,0.000000
75%,60060.000000,1898.000000,1.000000,1.000000,3.000000,40.000000,37.000000,16.000000,2.000000,0.000000
max,79999.000000,4097.000000,1.000000,1.000000,3.000000,95.000000,67.000000,50.000000,3.000000,2.000000

É possível observar que todas as colunas possuiem, agora, uma quantidade de 71945 dados.

### 3º Informações x Resultado

In [198]:
# Separar os dados de informações, que geram as previsões (previ) e os dados de classificação (classe)
previ = safra_18_19.iloc[:, 0:6]
classe = safra_18_19.iloc[:, 6]

In [199]:
previ.head() # Visualizar os dados de previsão atualizados

,Unnamed: 0,Identificador_Agricultor,Estimativa_de_Insetos,Tipo_de_Cultivo,Tipo_de_Solo,Categoria_Pesticida
0,0,SCROP00001,188,1,0,1
1,1,SCROP00002,209,1,0,1
2,2,SCROP00003,257,1,0,1
3,3,SCROP00004,257,1,1,1
4,4,SCROP00005,342,1,0,1

In [200]:
classe.head() # Visualizar os dados de resultado

0    0
1    0
2    0
3    0
4    0
Name: Doses_Semana, dtype: int64

### 4º Organizar dados categóricos

In [85]:
# Importar bibliotecas de processamento e de transformação
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [94]:
# Criar o transformador OneHotEncoder para as informações 
column_tranformer = ColumnTransformer([('one_hot_encoder', OneHotEncoder(), [1, 2])],
                                      remainder='passthrough')

In [95]:
# Transformação de dados categóriocos pelo OneHotEncoder
previ = column_tranformer.fit_transform(previ)

In [96]:
pd.DataFrame(previ).head() # Visualização da atualização dos dados depois da transformação pelo OneHotEncoder

     0    1    2    3    4      5    6    7    8
0  1.0  0.0  1.0  0.0  0.0  188.0  0.0  0.0  0.0
1  1.0  0.0  1.0  0.0  0.0  209.0  0.0  0.0  0.0
2  1.0  0.0  1.0  0.0  0.0  257.0  0.0  0.0  0.0
3  0.0  1.0  1.0  0.0  0.0  257.0  0.0  0.0  0.0
4  1.0  0.0  1.0  0.0  0.0  342.0  0.0  0.0  0.0

Agora são 9 colunas:
   - Duas colunas para os dados de tipo de solo 
   - Três colunas para os dados de categoria de pesticidas.

Finalizada a sepearação dos dados e todos os ajustes, agora é só aplicar o método desejado. 
Como teste, usarei o Random Forest.

In [97]:
# Bibliotecas de separação dos dados de treinamento e de teste e do classificador Random Forest
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [113]:
# Separeção de dados
previ_train, previ_test, classe_train, classe_test = train_test_split(previ, classe, test_size=0.15, random_state=0)

In [122]:
# Criação do classificador random forest
classificador = RandomForestClassifier(n_estimators=50, criterion='entropy', random_state=0)

In [123]:
# Passar dados para o classificador
classificador.fit(previ_train, classe_train)

RandomForestClassifier(criterion='entropy', n_estimators=50, random_state=0)

In [124]:
# Criar as previsões
previsoes = classificador.predict(previ_test)
previsoes

array([0, 0, 1, ..., 0, 0, 0], dtype=int64)

In [112]:
# Bibliotecas de metricas da classificação 
from sklearn.metrics import confusion_matrix, accuracy_score

In [202]:
# Precisão das previsões
precisao = accuracy_score(classe_test, previsoes)
print('O valor da precisão das previsões é de:',precisao)

O valor da precisão das previsões é de: 0.8050407709414381

### Gerar previsões para o ano de 2020

In [174]:
# Abrir os dadps de 2020 e salvar uma cópia para processar os dados
safra_20 = pd.read_csv('Safra_2020.csv', header = 0) 
Safra_2020 = safra_20.copy()

In [175]:
# Usando uma das cópias para fazer a análise, de forma a transformar na mesma forma dos dados processados para 2018 e 2019
safra_20.drop(['Unnamed: 0','Identificador_Agricultor','Tipo_de_Cultivo', 'Temporada'], inplace=True, axis=1)
safra_20.head()

,Estimativa_de_Insetos,Tipo_de_Solo,Categoria_Pesticida,Doses_Semana,Semanas_Utilizando,Semanas_Sem_Uso
0,256,1,2,35,11.0,9
1,283,1,2,5,5.0,6
2,283,1,2,15,15.0,5
3,283,1,2,15,NaN,7
4,283,1,2,15,19.0,2

In [176]:
safra_20.describe() # Descrição dos dados de 2020

,Estimativa_de_Insetos,Tipo_de_Solo,Categoria_Pesticida,Doses_Semana,Semanas_Utilizando,Semanas_Sem_Uso
count,8858.000000,8858.000000,8858.000000,8858.000000,7913.000000,8858.000000
mean,1389.902574,0.484308,2.233461,25.878867,28.255655,9.959359
std,842.295394,0.499782,0.442366,15.529796,12.083474,9.848986
min,150.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,731.000000,0.000000,2.000000,15.000000,20.000000,0.000000
50%,1212.000000,0.000000,2.000000,20.000000,27.000000,8.000000
75%,1898.000000,1.000000,2.000000,40.000000,37.000000,16.000000
max,4097.000000,1.000000,3.000000,95.000000,67.000000,50.000000

In [177]:
safra_20 = safra_20.dropna() # Excluir as linhas que possuem dados faltantes
safra_20.describe() # Descrição dos dados

,Estimativa_de_Insetos,Tipo_de_Solo,Categoria_Pesticida,Doses_Semana,Semanas_Utilizando,Semanas_Sem_Uso
count,7913.000000,7913.000000,7913.000000,7913.00000,7913.000000,7913.000000
mean,1390.772400,0.485909,2.233034,25.87767,28.255655,9.970302
std,842.056661,0.499833,0.441795,15.50661,12.083474,9.827082
min,150.000000,0.000000,1.000000,0.00000,0.000000,0.000000
25%,731.000000,0.000000,2.000000,15.00000,20.000000,0.000000
50%,1212.000000,0.000000,2.000000,20.00000,27.000000,8.000000
75%,1898.000000,1.000000,2.000000,40.00000,37.000000,16.000000
max,4097.000000,1.000000,3.000000,95.00000,67.000000,50.000000

In [184]:
# Usando o mesmo transformador de 2018 e 2019 também para o ano de 2020
safra_2020 = column_tranformer.fit_transform(safra_20) 
pd.DataFrame(safra_2020).head() # Visualização dos dados transformados pelo OneHotEncofing

     0    1    2    3    4      5     6     7    8
0  0.0  1.0  0.0  1.0  0.0  256.0  35.0  11.0  9.0
1  0.0  1.0  0.0  1.0  0.0  283.0   5.0   5.0  6.0
2  0.0  1.0  0.0  1.0  0.0  283.0  15.0  15.0  5.0
3  0.0  1.0  0.0  1.0  0.0  283.0  15.0  19.0  2.0
4  0.0  1.0  0.0  1.0  0.0  283.0  30.0  11.0  7.0

In [185]:
# Gerando as previsões para a safra do ano de 2020
previ_2020 = classificador.predict(safra_2020)
previ_2020

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [186]:
Safra_2020 = Safra_2020.dropna() # Excluir os dados faltantes da outra cópia dos dados de 2020

In [187]:
Safra_2020['dano_na_plantacao'] = previ_2020 # Adicionando as previsões aos dados de 2020

In [188]:
Safra_2020.head() # Visualização dos resultados

,Unnamed: 0,Identificador_Agricultor,Estimativa_de_Insetos,Tipo_de_Cultivo,Tipo_de_Solo,Categoria_Pesticida,Doses_Semana,Semanas_Utilizando,Semanas_Sem_Uso,Temporada,dano_na_plantacao
0,80000,SCROP80001,256,0,1,2,35,11.0,9,1,0
1,80001,SCROP80002,283,0,1,2,5,5.0,6,1,0
2,80002,SCROP80003,283,0,1,2,15,15.0,5,2,0
4,80004,SCROP80005,283,0,1,2,15,19.0,2,1,0
5,80005,SCROP80006,283,0,1,2,30,11.0,7,3,0

In [190]:
Safra_2020.describe() # Descrição dos resultados

,Unnamed: 0,Estimativa_de_Insetos,Tipo_de_Cultivo,Tipo_de_Solo,Categoria_Pesticida,Doses_Semana,Semanas_Utilizando,Semanas_Sem_Uso,Temporada,dano_na_plantacao
count,7913.000000,7913.000000,7913.000000,7913.000000,7913.000000,7913.00000,7913.000000,7913.000000,7913.000000,7913.000000
mean,84428.860988,1390.772400,0.293947,0.485909,2.233034,25.87767,28.255655,9.970302,1.893340,0.114874
std,2557.137003,842.056661,0.455597,0.499833,0.441795,15.50661,12.083474,9.827082,0.695026,0.358096
min,80000.000000,150.000000,0.000000,0.000000,1.000000,0.00000,0.000000,0.000000,1.000000,0.000000
25%,82222.000000,731.000000,0.000000,0.000000,2.000000,15.00000,20.000000,0.000000,1.000000,0.000000
50%,84434.000000,1212.000000,0.000000,0.000000,2.000000,20.00000,27.000000,8.000000,2.000000,0.000000
75%,86636.000000,1898.000000,1.000000,1.000000,2.000000,40.00000,37.000000,16.000000,2.000000,0.000000
max,88857.000000,4097.000000,1.000000,1.000000,3.000000,95.00000,67.000000,50.000000,3.000000,2.000000

In [192]:
# Salvando os resultados em um arquivo .csv
Safra_2020.to_csv('Previsão_Safra_2020_RandomForest.csv', encoding='utf-8', index=False)